.rectangles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
    margin: 0 auto;
    padding: 2em 2em 2em 2em;
}

.rectangle {
    position: relative;
    width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #151515;
    border: 3px solid rgb(0, 0, 0);
    transition: 0.5s;
    align-content: center;
}

.images {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
    border: 3px solid rgb(0, 0, 0);
    transition: 0.5s;
}

.rectangle:hover {
    border-color:#7EC219;
}
  
.rectangle img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    justify-items: center;
    width: 100%;
    padding: 0.5rem 0.6rem;
}

.sample-slider .swiper-wrapper{
    transition-timing-function: linear;
}

@media only screen and (max-width: 1600px) {
    /* Styles here */
    .rectangle {
        width: 60%;
        height: 100px;
        padding: 0;
    }
}

@media screen and (max-width: 1350px) {
    .rectangle {
        width: 70%;
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    .rectangle {
        width: 80%;
        padding: 0;
    }
}
  
@media screen and (max-width: 1000px) {
  
    .rectangles {
        width: 70%;
        height: 100%;
        justify-content: center;
        flex-wrap: nowrap;
    }
    
    .rectangle {
      width: 100%;
      height: 100%;
    }
}

@media screen and (max-width: 870px) {
    .rectangles {
        width: 80%;
        height: 100%;
        justify-content: center;
        flex-wrap: nowrap;
    }
}
  
@media screen and (max-width: 768px) {
    .rectangles {
        width: 90%;
        height: 100%;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 550px) {
    .rectangles {
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-wrap: nowrap;
    }
}
  
@media screen and (max-width: 415px) {
    .rectangles {
        width: 100%;
        height: 100%;
        padding: 1vh;
        flex-wrap: wrap;
        gap: 0.5em;
    }
    .rectangle {
        width: 100%;
        height: 100%;
    }
}