
.container {
    padding: 40px;
    justify-items: center;
    display: grid;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 950px;
    max-width: 950px;
    text-align: left;
    font-size: 1.1rem;
    @media (max-width: 768px) {
        font-size: 0.6rem;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 48%;
    }
  }
  
  
@keyframes fadeInM {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
}

.services h1 {
    position: relative;
    margin-block-start: 0.37em;
    margin-block-end: 0.27em;
    font-size: 45px;
}
  
.services h1::after {
    content: "";
    display: block;
    width: 48%;
    height: 4.5px;
    background-color: #793dea;
    animation: fadeIn 1.2s ease-in-out;
}

.servicesDescription {
    text-align: left;
    font-size: 20px;
    max-width: 950px;
}

.gridContainer {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 18rem); /* 3 columnas */
    gap: 50px;
}
  
.gridItem {
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid #793dea;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200px;
    max-width: 300px;
    transition: all 0.3s ease;
    padding: 20px;
}

.gridItem:nth-child(2n) {
    border: 3px solid #793dea; /* elementos pares */
  }
  
.gridItem:nth-child(2n+1) {
    border: 3px solid #7ec219; /* elementos impares */
}
  
/* Efecto al pasar el cursor */
.gridItem:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    z-index: 1; /* Trae el cuadrado al frente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: black;
    border: 3px solid #9a9a9a;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Contenido dentro del grid-item */
.content {
    text-align: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img {
    transform: translateY(50px);
    height: 80px;
    width: 80px;
}
  
/* Título siempre visible */
.title {
    transform: translateY(50px);
    font-size: 1.2em;
    margin: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}
  
/* Descripción oculta inicialmente */
.description {
    opacity: 0;
    transform: translateY(0px); /* Posición inicial */
    font-size: 0.9em;
    margin: 0;
}

/* Cambios al pasar el cursor */
.gridItem:hover .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Mover el contenido hacia arriba */
}

.gridItem:hover .img {
    transform: translateY(-10px);
    height: 0px;
    opacity: 0;
}
  
.gridItem:hover .title {
    transform: translateY(10px); /* Mover el título hacia arriba */
    font-size: 1.1em; /* Ajustar el tamaño del título */
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    pointer-events: none; /* Evitar interacción */
}
  
/* Mostrar la descripción al pasar el cursor */
.gridItem:hover .description {
    opacity: 1;
    transform: translateY(0); /* Posición final */
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
    padding-bottom: 2rem;
}

@media (max-width: 1200px) {

    .services h1 {
        position: relative;
        margin-block-start: 0.37em;
        margin-block-end: 0.27em;
        font-size: 42px;
    }

    .servicesDescription {
        text-align: left;
        font-size: 18px;
    }

    .img {
        transform: translateY(50px);
        height: 80px;
        width: 80px;
    }

    .title {
        transform: translateY(50px);
        font-size: 1.1em;
        margin: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .description {
        opacity: 0;
        transform: translateY(10px);
        font-size: 0.9em;
        margin: 0;
    }

    .gridItem:hover .img {
        transform: translateY(-10px);
        height: 0px;
        opacity: 0;
    }

    .gridItem:hover .title {
        transform: translateY(0px); /* Mover el título hacia arriba */
        font-size: 0.9em; /* Ajustar el tamaño del título */
        transition: opacity 0.2s ease, transform 0.2s ease;
        padding-bottom: 10px;
    }
      
    /* Mostrar la descripción al pasar el cursor */
    .gridItem:hover .description {
        opacity: 1;
        transform: translateY(0); /* Posición final */
        transition: opacity 0.5s ease, transform 0.5s ease;
        padding-bottom: 2.5rem;
    }
}

@media (max-width: 1000px) {

    .services {
        width: 100%;
        text-align: left;
    }

    .services h1 {
        position: relative;
        margin-block-start: 0.37em;
        margin-block-end: 0.27em;
        font-size: 40px;
    }

    .servicesDescription {
        text-align: left;
        font-size: 18px;
    }

    .img {
        transform: translateY(50px);
        height: 60px;
        width: 60px;
    }

    .title {
        transform: translateY(50px);
        font-size: 1em;
        margin: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .description {
        opacity: 0;
        transform: translateY(10px);
        font-size: 0.8em;
        margin: 0;
    }

    .gridContainer {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 29%); /* 3 columnas */
        gap: 50px;
        max-width: 100%;
    }

    .gridItem {
        width: 100%;
    }

    .gridItem:hover .title {
        transform: translateY(0px); /* Mover el título hacia arriba */
        font-size: 0.9em; /* Ajustar el tamaño del título */
        transition: opacity 0.2s ease, transform 0.2s ease;
        padding-bottom: 10px;
    }
      
    /* Mostrar la descripción al pasar el cursor */
    .gridItem:hover .description {
        opacity: 1;
        transform: translateY(0); /* Posición final */
        transition: opacity 0.5s ease, transform 0.5s ease;
        padding-bottom: 3.2rem;
    }
}

@media (max-width: 900px) {

    .services {
        width: 100%;
        text-align: left;
    }

    .services h1 {
        position: relative;
        margin-block-start: 0.37em;
        margin-block-end: 0.27em;
        font-size: 40px;
    }

    .servicesDescription {
        text-align: left;
        font-size: 16px;
    }

    .title {
        transform: translateY(50px);
        font-size: 1em;
        margin: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .description {
        opacity: 0;
        transform: translateY(10px);
        font-size: 0.7em;
        margin: 0;
    }

    .gridItem:hover .title {
        transform: translateY(0px); /* Mover el título hacia arriba */
        font-size: 0.9em; /* Ajustar el tamaño del título */
        transition: opacity 0.2s ease, transform 0.2s ease;
        padding-bottom: 10px;
    }
      
    /* Mostrar la descripción al pasar el cursor */
    .gridItem:hover .description {
        opacity: 1;
        transform: translateY(0); /* Posición final */
        transition: opacity 0.5s ease, transform 0.5s ease;
        padding-bottom: 3.6rem;
    }
}

@media (max-width: 768px) {

    .services h1 {
        position: relative;
        margin-block-start: 0.37em;
        margin-block-end: 0.27em;
        font-size: 36px;
    }

    .servicesDescription {
        text-align: left;
        font-size: 14px;
    }

    .img {
        transform: translateY(50px);
        height: 60px;
        width: 60px;
    }

    .title {
        transform: translateY(50px);
        font-size: 0.9em;
        margin: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .description {
        opacity: 0;
        transform: translateY(10px);
        font-size: 0.6em;
        margin: 0;
    }

    .gridContainer {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 28%); /* 3 columnas */
        gap: 50px;
        max-width: 100%;
    }

    .gridItem:hover .title {
        transform: translateY(0px); /* Mover el título hacia arriba */
        font-size: 0.7em; /* Ajustar el tamaño del título */
        transition: opacity 0.2s ease, transform 0.2s ease;
        padding-bottom: 10px;
    }
      
    /* Mostrar la descripción al pasar el cursor */
    .gridItem:hover .description {
        opacity: 1;
        transform: translateY(0); /* Posición final */
        transition: opacity 0.5s ease, transform 0.5s ease;
        padding-bottom: 3.8rem;
    }
}

@media (max-width: 600px) {

    .services h1 {
        position: relative;
        margin-block-start: 0.37em;
        margin-block-end: 0.27em;
        font-size: 34px;
    }

    .servicesDescription {
        text-align: left;
        font-size: 14px;
    }

    .img {
        transform: translateY(40px);
        height: 50px;
        width: 50px;
    }

    .title {
        transform: translateY(40px);
        font-size: 0.8em;
        margin: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .description {
        opacity: 0;
        transform: translateY(10px);
        font-size: 0.5em;
        margin: 0;
    }

    .gridItem:hover .title {
        transform: translateY(0px); /* Mover el título hacia arriba */
        font-size: 0.6em; /* Ajustar el tamaño del título */
        transition: opacity 0.2s ease, transform 0.2s ease;
        padding-bottom: 10px;
    }
      
    /* Mostrar la descripción al pasar el cursor */
    .gridItem:hover .description {
        opacity: 1;
        transform: translateY(0); /* Posición final */
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
}

@media (max-width: 530px) {

    .services h1 {
        position: relative;
        margin-block-start: 0.37em;
        margin-block-end: 0.27em;
        font-size: 30px;
    }

    .servicesDescription {
        text-align: left;
        font-size: 14px;
    }

    .container {
        padding: 0px;
        padding-bottom: 40px;
    }

    .img {
        transform: translateY(40px);
        height: 50px;
        width: 50px;
    }

    .title {
        transform: translateY(40px);
        font-size: 0.8em;
        margin: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .description {
        opacity: 0;
        transform: translateY(10px);
        font-size: 0.5em;
        margin: 0;
    }

    .gridContainer {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 28%); /* 3 columnas */
        gap: 40px;
        max-width: 100%;
    }

    .gridItem {
        height: 180px;
    }

    .gridItem:hover .title {
        transform: translateY(0px); /* Mover el título hacia arriba */
        font-size: 0.6em; /* Ajustar el tamaño del título */
        transition: opacity 0.2s ease, transform 0.2s ease;
        padding-bottom: 10px;
    }
      
    /* Mostrar la descripción al pasar el cursor */
    .gridItem:hover .description {
        opacity: 1;
        transform: translateY(0); /* Posición final */
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
}

@media (max-width: 415px) {

    .container {
        margin: 100px 0px;
    }

    .gridItem:hover {
        transform: scale(1.1); /* Aumenta el tamaño */
        z-index: 1; /* Trae el cuadrado al frente */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: black;
        border: 3px solid #9a9a9a;
    }

    .img {
        transform: translateY(60px);
        height: 50px;
        width: 50px;
    }

    .title {
        transform: translateY(60px);
        font-size: 0.8em;
        margin: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .description {
        opacity: 0;
        transform: translateY(10px);
        font-size: 0.5em;
        margin: 0;
    }

    .gridContainer {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 30%); /* 3 columnas */
        gap: 20px;
        max-width: 100%;
    }

    .gridItem:hover .title {
        transform: translateY(0px); /* Mover el título hacia arriba */
        font-size: 0.6em; /* Ajustar el tamaño del título */
        transition: opacity 0.2s ease, transform 0.2s ease;
        padding-bottom: 10px;
    }
      
    /* Mostrar la descripción al pasar el cursor */
    .gridItem:hover .description {
        opacity: 1;
        transform: translateY(0); /* Posición final */
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
}